body,div,a{
  -ms-word-break: break-all;
  word-break: break-all;

/* Non standard for webkit */
   word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.all-center{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}
.menu {
  width: 100%;
  height: 8%;
}
.ui.tiny.borderless.compact.labeled.icon.bottom.fixed.menu a {
  margin-right: 20%;
}
.headerIcon {
  float: left;
  position: relative;
  left: 5%;
}
.profileIcon {
  position: absolute;
  top: 22%;
  right: 2%;
}
.profilIcon {
  margin-top: 21% !important;
  margin-left: 38% !important;
}
.heading {
  padding-right: 4%;
  text-align: center;
}
.ui.card {
  width: 100% !important;
}
.ui.block.header {
  background: #7fbfff !important;
}
.header-container{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:999;
}
.main{
  margin-top:50px !important;
  padding-bottom: 50px;
}
a {
  color: black !important;
}
.ui.secondary.pointing.menu {
  margin-top: 15%;
}
.file, .folder, .comment {
  float: left;
}
.subNavi a {
  margin-right: 11% !important;
}
.ui.card>.content>.description, .ui.cards>.card>.content>.description {
  font-size: 0.9em !important;
}
.forumContent {
  padding-left: 9% !important;
}
.forumHeader {
  padding: 1em 1em 0.3em 1em !important;
}
#postings:first-child {
  border-left: none;
  padding-left: 0;
}
.posts-enter {
  opacity: 0.01;
}

.posts-enter.posts-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.posts-leave {
  opacity: 1;
}

.posts-leave.posts-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.replies {
  float: right;
}
.author {
  float: left;
}
.ui.form {
  padding-top: 20%;
}
.backIcon {
  position: absolute;
  top: 22%;
  left: 0%;
}
@media only screen and (max-width: 376px) {
  body{
  width: 100%;}
}